.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000000;

  height: 100vh;
  padding: 4.8rem 1.2rem;
  background: var(--bg-opaque);
  backdrop-filter: blur(12px);

  overflow-y: scroll;

  display: flex;

  justify-content: center;

  cursor: pointer;
}

.modalCard {
  width: 100%;
  max-width: 700px;
  height: fit-content;
  margin: 0 auto;

  border-radius: 1.2rem;
  overflow: hidden;

  background: var(--background-light);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

  cursor: auto;
}

.closeModalBtn {
  background: none;
  border: none;

  color: var(--text);

  font-size: var(--text-md);

  position: absolute;
  top: 1.2rem;
  right: 1.2rem;

  cursor: pointer;
}
